<header id="header">	
	<div class="container">
		<div class="cloud-1"></div>
		<div class="cloud-2"></div>
		<div class="sun"></div>
		<div class="row">
			<div class="intro-area col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div class="intro-content">
					<h1>Billig flyttehjælp når det passer <span>dig</span></h1>
					<!-- <p class=" lead sub">Beregn hurtigt prisen for <b>gloovers</b> som dine ekstra hænder og lad dem gøre det hårde arbejde.</p> -->
					<!-- <p class=" lead sub">Få friske og unge <b>gloovers</b> til at hjælpe med din flytning og lad dem gøre det hårde arbejde. Det er hurtigt, nemt og effektivt.</p> -->
					<!-- Har du brug for en ekstra hånd, men ikke en total løsning som  -->
					<p>Vi er ikke et almindeligt flyttefirma.</p>
					<p class=" lead sub">Vi har ikke flyttebiler, eller andet som fordyre din flyttehjælp. Vi leverer ren og skær ekstra hænder i form af stærke <b>gloovers</b>.
					</p>
				</div>
				<div class="intro-cta">
					<a class="btn btn-main btn-lg" href="book">Forespørg gloovers nu &#8594;</a>
					<!-- <a class="btn btn-main btn-lg typeform-share" href="https://glove.typeform.com/to/OsatgB" data-mode="2" target="_blank">Forespørg gloovers nu</a> -->
					<!-- <small>Du får et pris estimat før du booker.</small> -->
					<small>Vi kan hjælpe dig i <b>Aarhus</b>.</small>
				</div>	
			</div>
		</div>
	</div>
	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

</header>	