<section id="get-help-for" class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2>Hvad kan vi så hjælpe dig med?</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a class="btn btn-link">Læs mere i vores FAQ</a>
		</div>
	</div>
</section>