<section id="how-to">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 section-header">
				<h2>Hvordan virker det?</h2>
				<p class="lead">Flytning er hårdt, og hjælp er derfor ofte nødvendigt. Spar din familie og venner for ondt i ryggen, og hyr en gloover istedet. Uanset om det er pakning, aflæsning eller flytning af møbler, så kan vi hjælpe dig.</p>
			</div>
		</div>
		<div class="row">
			<div id="steps" class="col-sm-10 col-sm-offset-1">
				<div id="step-one" class="row">					
					<div class="col-sm-6 col-sm-push-6"><img src="/img/home/step-one.svg"></div>
					<div class="col-sm-6 col-sm-pull-6">
						<h3 class="one">Beskriv din opgave</h3>
						<p class="lead">Uddyb hvad vores gloovers skal hjælpe dig med.</p>
					</div>
				</div>
				<div id="step-two" class="row">					
					<div class="col-sm-6 "><img src="/img/home/step-two.svg"></div>
					<div class="col-sm-6">
						<h3 class="two">Få tilknyttet gloovers</h3>
						<p class="lead">Vi matcher dig op med energiske gloovers, som ser frem til at hjælpe dig.</p>
					</div>
				</div>
				<div id="step-three" class="row">
					<div class="col-sm-6 col-sm-push-6"><img src="/img/home/step-three.svg"></div>
					<div class="col-sm-6 col-sm-pull-6">
						<h3 class="three">Dine gloovers løfter for dig</h3>
						<p class="lead">På dagen styrer du slagets gang, og dine gloovers tager fat hvor der er behov.
						</p>
					</div>
				</div>
				<div id="step-four" class="row">	
					<div class="col-sm-6"><img src="/img/home/step-four.svg"></div>

					<div class="col-sm-6">
						<h3 class="four">Anmeld din oplevelse</h3>
						<p class="lead">Giv os en vurdering af din oplevelse og af dine gloovers, så vi kan blive endnu bedre.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>