<section id="price" class="container">
	<div class="row">
		<div class="col-sm-6 col-lg-5">
			<h2>Simpel og effektiv hjælp kræver en nem og overskuelig pris</h2>
			<p class="lead sub">Vi har én takst, som vi afregner på en timemodel.</p>
			<p>Du betaler for første time uanset opgaven, og derefter i 15 min intervaller. Det er simpelt, og det er fleksibelt. Du undgår at stå med ekstra hænder i længere tid end du har brug for dem. Det er en ny måde at tænke flytning.</p>
			<p class="info">•Betaling foregår med MobilePay.</p>
		</div>
		<div class="col-sm-6 col-lg-offset-1 text-center">
			<div class="price-hourly">	
				<div class="price-inner">			
					<h1><span>250 kr</span><br>
						i timen
					</h1>
					<p class="lead sub">PR. GLOOVER</p>				
				</div>
			</div>
		</div>
	</div>
</div>
</section>


<!-- <h1>price</h1>
<p>Simpel og effektiv hjælp kræver en nem og overskuelig pris. Vi har én takst, som vi takseret på en timemodel. Du betaler for første time uanset opgaven, og derefter i 15 min intervaller. Det er simpelt, og det er fleksibilet. Du undgår at står ekstra hænder i længere tid end du har brug for dem. </p> -->