<section id="wanna-talk" class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h3> Lyst til at snakke med os?</h3>
			<p>Du er meget velkommen til at skrive en mail eller ringe.</p>
			<br>
			<div class="links-area">
				<a class="mail" href="mailto:well.hello@gloove.dk?subject=Well hello Gloove&body=Sidder du inde med et spørgsmål til os?">well.hello@gloove.dk</a>
			</div>
			<div class="links-area">
				<a class="phone" href="tel:">+45  3119 2989</a>
			</div>
		</div>		
		<div class="gloover-mate">
			<img src="/img/home/Gloover-1-upper-body.svg">
		</div>		
	</div>
</section>