<footer id="footer">
	<div class="container">
		<div id="top-footer" class="row">
			<div class="col-sm-4 col-md-6 text-left spacer">
				<div id="logo" >
					<img src="/img/Logo.svg">
				</div>				
			</div>			
			<div class="col-sm-8 col-md-6 text-right spacer">
				<div id="links">					
					<ul>
						<li><a class="turkish" href="/faq">FAQ</a></li>
						<li><a class="turkish" href="mailto:well.hello@gloove.dk?subject=Bliv en gloover hos Gloove.dk&body=Send dine informationer, samt hvorfor du har lyst til at blive en gloover. Så vender vi tilbage til dig!">Bliv gloover</a></li>
						<li><a class="btn btn-main btn-small" href="/book">Forespørg gloovers nu</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 text-right spacer">
				<div id="contact">
					<h4>Gloove.dk</h4>
					<p class="lead"><a class="turkish" href="mailto:well.hello@gloove.dk?subject=Jeg har et spørgsmål!">well.hello@gloove.dk</a></p>
				</div>
			</div>
		</div>		
	</div>
	<div id="company">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="lead sub">&#169;Gloove.dk - 2016</p>
				<p class="lead sub">CVR. 36695447</p>
				<p class="lead sub">Frederiks Alle 127, 8000 Aarhus C</p>
			</div>
		</div>
	</div>
</footer>