{% block title %}Gloove | Bliv en gloove{% endblock %}
{% block content %}
<div id="become-gloover" class="container" style="margin-top: 50px;">
	<div class="hero-unit">
		<h1>Become gloover</h1>

		<p>Forklar hvorfor det er fedt.</p>

		<a>Send til lever.co for ansøgning</a>

	</div>
	{% endblock %}
