{% block title %}Gloove.dk | FAQ{% endblock %}
{% block content %}

<section id="faq">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div id="intro" class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h2>FAQ - Forstå Gloove</h2>
						<p class="lead">Her kan du få svar på de generelle spørgsmål omkring vores service. Hvis du ikke finder svar på netop dit spørgsmål, så tøv ikke med at kontakte os på vores mail <a href="mailto:well.hello@gloove.dk?subject=FAQ - Spørgsmål">well.hello@gloove.dk</a>.</p>
					</div>
				</div>
				<div id="content" class="row">
					<!-- New section -->
					<div class="question col-sm-10 col-sm-offset-1">
						<p class="lead first">Generelt</p>
						<h3>Hvad er konceptet?</h3>
						<p>Har du blot brug et par ekstra hænder til din flytning? Men ikke nødvendigvis behov for et dyrt og rigid full-service flyttefirmaer? Så benyt dig af Gloove. Vi forbinder dig med energiske og stærke gloovers, som kan hjælpe dig med det hårde arbejde.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Hvem er Gloove?</h3>
						<p>Vores hold består pt. af 2 udviklere og 1 designer, som ambitiøst vil ændre den måde, vi tænker flytning på.</p>						
						<p>Vi omfavner den danske DO-IT-YOURSELF kultur, der er forbundet med flytning. Det er ikke sjovt at løfte tunge flyttekasser, men  Vi vil hjælpe dig med at få dét overskud, som en flyttedag absolut ikke er forbundet med.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Hvem er gloovers?</h3>
						<p>Det er den friske og energiske studerende, som har en fleksible dagligdag og derfor kan hjælpe når du har brug for det. Vi screener vores folk grundigt før de kommer på et job, og vi kan derfor sikrere dig de mest kompetence gloovers.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Leverer vi flyttebil, sækkevogne eller flyttehjul?</h3>
						<p>Nej, vi levere de ekstra hænder du har brug for til din opgave. Vi har ikke unødvendige udgifter til store flyttebiler, trailers eller lignende. Du får derfor mulighed for at bestemme hvordan DU vil flytte. Så skal vi nok fokusere på at levere de ekstra muskelkræfter!</p>
						<p>Såfremt du har et ønske om at leje en flyttebil vil vi gerne afhjælpe dig med det! Kontakt os, og lad os finde en fælles løsning.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Hvad sker der hvis noget går i stykker?</h3>
						<p>Vi arbejder intens på at få en fuldstændig dækning af dine ting - uanset hvad der måtte ske. For nu kan vi tilbyde at betale for din selvrisiko ved skader, som vores gloovers måtte lave.</p>
					</div>

					<!-- New section -->
					<div class="question col-sm-10 col-sm-offset-1">
						<p class="lead">Booking</p>
						<h3>Hvor sent kan jeg bestille?</h3>
						<p>Vi vil gerne levere fuld antal gloovers til dig, derfor er det bedst du bestiller så tidligt du kan. Vi vil uanset dit bestillingstidspunkt gøre vores bedste for at finde de rette gloovers til din opgave.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Kan jeg ændre eller afbestille min bestilling?</h3>
						<p>Ja, da! Skriv eller ring til os, så hjælper vi dig med det!</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Hvor meget skal jeg have pakket?</h3>
						<p>Så meget som det er muligt. Så kan vores gloovers hjælpe dig med at slæbe. Mangler du stadig at få pakket lidt, hjælper vores gloovers ligeledes også med det.</p>
					</div>
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Kan i pakke for mig?</h3>
						<p>Yes, det vil vores gloovers selvfølgelig hjælpe dig med. Bare vejled dem, så vil de De er dygtige til at pakke forsigtigt, og samtidigt give </p>
					</div>
					
					<div class="question col-sm-10 col-sm-offset-1">
						<h3>Hvordan foregår betalingen?</h3>
						<p>Vi benytter MobilePay som betalingsmiddel. Efter færdiggørelsen af en opgave afregner én af dine gloovers dagen på baggrund af antal timer arbejdet. Du sender pengene direkte til vores hovednummer, og viser kvitteringen til den ansvarlige gloover. Nemt, ikke?</p>
					</div>
				</div>
				<div id="outtro" class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h4>Vi glæder os til at byde dig velkommen til vores service!</h4>
						<h2>Team Gloove</h2>
						<a href="/book" class="btn btn-main btn-lg">Forespørg gloovers nu</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}
